html{
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin:0;
  
}

.site-header{
  height: 105vh;
  width: 100vw;
  background: url('./images/photo-of-starry-night-1421903.jpg');
  background-size: cover;  
}
.shadow-overlay{
  height:100%;
  width:100%;
  /* background-color:rgba(0,0,0,.6); */
  
  position: relative;
  top: 0; left: 0; 
  width: 100%;
  height: 100%;   
  box-shadow: 0px 0px 0px 4000px rgba(27, 61, 88, 0.5) inset;
}
.site-header-grid{
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: space-evenly;
  column-gap: 50px;
  align-items:center;
  z-index: 1;
}
.site-header-item1{
  grid-column-start:1;
  grid-column-end: 2;
  font-size: 60px;
  z-index: 2;
  color:white;
}
.site-header-item2{
  
  font-size: 40px;
  z-index: 2;
  color:#50d890;
}
.flip-card {
  background-color: transparent;
  width: 360px;
  height: 260px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
@media screen and (max-height: 568px) {
  .site-header-item1{
    font-size: 40px;
    
  }
  .site-header-item2{
    
    font-size: 30px;
  }
  img{
    max-width:290px;
  }
  .flip-card{
    width:290px
  }
}
.contact-header{
  text-align: center;
}
.contact-container{
  padding: 15px;
  background-color: rgba(0,0,0,.5);
  border-radius: 7px;
  font-size:20px;
  color: whitesmoke;
}
.contact-container > a{
  color:white;
  text-decoration: none;
}
.contact-container > a:hover{
  color:#50d890;
  transition-duration: .5s;
}
.resume-link{
  display: flex;
  justify-content: center;
  margin-top:8px;
}
.resume-link a{
  color:whitesmoke;
  text-decoration: none;
  padding: 10px;
  background-color: #55968f;
}
.resume-link a:hover{
  filter:brightness(1.2);
  transition-duration: .5s;
}
.icon-container{
  display: flex;
  justify-content: center;
}
.icon-container a{
  text-decoration: none;
  color:#4f98ca;
  margin: 20px 16px 0 16px;
  font-size:46px;
}
.icon-container a:hover{
  color:#50d890;
  transition-duration: .5s;
}

.site-header-scroll{
  display:flex;
  justify-content: center;
  color:white;
  font-size: 24px;
}

.arrow {
text-align: center;
margin: 3% 0;
}
.arrow a {
  color: white;
  text-decoration: none;
}
.bounce {
-moz-animation: bounce 2s infinite;
-webkit-animation: bounce 2s infinite;
animation: bounce 2s infinite;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
}
40% {
  transform: translateY(-30px);
}
60% {
  transform: translateY(-15px);
}
}

body{
  font-family: 'ABeeZee', sans-serif;
  color:#fff;
  
}

.primary{
  background-color:#06181F;
}
.secondary{
  background-color: #0E526C;
}
.third{
  background-color: #204A5A;
}

.main-container{
  display:flex;
  /* justify-content: center; */
  align-items:center;
  flex-direction: column;
  margin:30px;
  min-height: 100vh;
  padding-top:50px;
}

.wrapper{
  max-width: 840px;
  margin:0 30px;
}

.title{
  font-size: 40px;
  align-self:flex-start;
  font-weight: 800;
  margin-bottom:20px;
}

.subtitle{
  font-size: 24px;
}
.projects-main-title{
  font-weight: 800;
  margin-bottom:20px;
  
}
.filter-button{
  display: inline-block;
  padding: 0.80em 2.2em;
  border: 0.2em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.19em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
  font-size: .8em;
  }
  .filter-button:hover{
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  }
  

.projects-grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 420px));
  justify-content: space-evenly;
  /* grid-column-gap: 20px; */
  text-align: center;
}

.projectContainer{
  padding-top: 24px;
  margin-top: 24px;
  max-width: 400px;
  align-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #0A3D50;
  border-radius: 2px;
  height: 90%;
}

.projectDescription {
  padding:16px 8px;
  display:flex;
  flex-direction: column;
  align-items: center;
}



/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
:checked + .flip-card-inner {
  transform: rotateY(180deg);
}
input[type=checkbox]{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}
.project-icon{
  position: relative;
}
.project-icon a {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: -20px;
  transform: rotate(-5deg);
  color: green;
  font-size: 50px;
}
.project-icon a:hover {
  color: #6900ff;
  
}
.project-name{
  margin: 10px 0 0 0;
}

/* Style the back side */
.flip-card-back {
  background-color: #548a9f;
  color: white;
  transform: rotateY(180deg);
}
